@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import '~font-awesome/css/font-awesome.css';

.container
{
    max-width: 450px;
    padding: 40px;
    margin-top: 2%; 
    border-radius: 10px; 
    box-shadow: 5px 5px 35px 8px rgb(147, 158, 147); 
    border-top: 8px solid rgb(255, 55, 55); 
    background-color: white;
}
input{
    border-radius: 12px;
    margin-top: 8px;
}
.textual
{
    color: rgb(0, 46, 250); 
    text-align: center; 
    margin-top: -20px;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    text-transform: uppercase;
}

.loginbtn
{
    background-color: transparent;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 7px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin: auto;  
    border: 1px solid black;
    margin-top: 10px;
}
.loginbtn:hover
{
    background-color: rgb(4, 21, 247);
    padding-left: 7%;
    padding-right: 7%;
    cursor: pointer;
    color: white;
}
